%div(style='margin: 100px auto; width: 200px; text-align: center; font-size: 20pt; line-height: 100%')
  %a(href='/auth/github')
    = image_tag 'github_octocat.png', width: 200, height: 166
  %br
  %a(href='/auth/github')
    Log in with GitHub
